%h1 Editing computer

- form_for(@computer) do |f|
  = f.error_messages

  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :host
    = f.text_field :host
  %p
    = f.label :username
    = f.text_field :username
  %p
    = f.label :description
    = f.text_area :description
  %p
    = f.label :through_host
    = f.text_field :through_host
  %p
    = f.label :working_directory
    = f.text_field :working_directory
  %p
    = f.submit "Update"

== #{link_to 'Show', @computer} | #{link_to 'Back', computers_path}
