<h1>Editing data_file</h1>

<% form_for(@data_file, :html => {:multipart => true}) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.label :content %><br />
      <%= f.file_field :content %>
    </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>


<%= link_to 'Show', @data_file %> |
<%= link_to 'Back', data_files_path %>
